@model Ticket

<h2>Create Ticket @ViewBag.ProjectId</h2>

<form asp-action="Create" asp-controller="Ticket" method="post" asp-route-projectId="@ViewBag.ProjectId">   
    <div class="form-group">
        <input asp-for="ProjectId" type="hidden" name="ProjectId" value="@ViewBag.ProjectId" />
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control" />
        <div>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <label asp-for="Hours" class="form-label"></label>
        <input asp-for="Hours" class="form-control" />
        <div>
            <span asp-validation-for="Hours" class="text-danger"></span>
        </div>
        <label asp-for="Priority" class="form-label"></label>
        <select class="form-control" asp-for="Priority">
            <option value="0">Low</option>
            <option value="1">Medium</option>
            <option value="2">High</option>
        </select>
        <div>
            <button type="submit">Create Task</button>
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}